[Desktop Entry]
Type=Application
Name=Timer
Name[cs]=Časovač
Description=Simple Timer in PyGTK
Description[cs]=Jednoduchý časovač vytvořený v pyGTK
Exec=cd /usr/share/timer/src && python -m timer.py
Category=System
