[Desktop Entry]
# Name
Name=Timer
## from translations/json/cs.json
Name[cs]=Časovač
## from translations/json/it.json
Name[it]=Timer
## from translations/json/ru.json
Name[ru]=Таймер
## from translations/json/de.json
Name[de]=Timer
## from translations/json/fi.json
Name[fi]=Ajastin
## from translations/json/fr.json
Name[fr]=Minuterie
## from translations/json/nb_NO.json
Name[nb_NO]=Tidsur
## from translations/json/uk.json
Name[uk]=Таймер
## from translations/json/es.json
Name[es]=Temporizador
## from translations/json/tr.json
Name[tr]=Kronometre
## from translations/json/nl.json
Name[nl]=Tijdklok
## from translations/json/pt_BR.json
Name[pt_BR]=Cronômetro
## from translations/json/hu.json
Name[hu]=Időzítő
## from translations/json/hi.json
Name[hi]=Timer
# Comment
Comment=Simple timer
## from translations/json/cs.json
Comment[cs]=Jednoduchý Časovač
## from translations/json/it.json
Comment[it]=Timer semplice
## from translations/json/ru.json
Comment[ru]=Простой таймер
## from translations/json/de.json
Comment[de]=Einfacher Timer
## from translations/json/fi.json
Comment[fi]=Yksinkertainen ajastin
## from translations/json/fr.json
Comment[fr]=Minuterie simple
## from translations/json/nb_NO.json
Comment[nb_NO]=Enkelt tidsur
## from translations/json/uk.json
Comment[uk]=Простий таймер
## from translations/json/es.json
Comment[es]=Temporizador simple
## from translations/json/tr.json
Comment[tr]=Basit kronometre
## from translations/json/nl.json
Comment[nl]=Een eenvoudige tijdklok
## from translations/json/pt_BR.json
Comment[pt_BR]=Cronômetro simples
## from translations/json/hu.json
Comment[hu]=Egyszerű időzítő
## from translations/json/hi.json
Comment[hi]=सरल टाइमर
Type=Application
Icon=com.github.vikdevelop.timer
Exec=timer.sh
Categories=Utility
