[Desktop Entry]
Name=Timer
# from translations/cs.py
Name[cs]=Časovač
# from translations/it.py
Name[it]=Timer
# from translations/ru.py
Name[ru]=Таймер
Type=Application
Icon=com.github.vikdevelop.timer
Comment=Simple timer
# from translations/cs.py
Comment[cs]=Jednoduchý Časovač
# from translations/it.py
Comment[it]=Timer semplice
# from translations/ru.py
Comment[ru]=Простой таймер
Exec=timer.sh
Categories=Utilities
