[Desktop Entry]
Name=Timer
Name[cs]=Časovač
Name[fr]=Minuteur
Type=Application
Icon=com.github.vikdevelop.timer
Comment=Simple timer
Comment[cs]=Jednoduchý Časovač
Comment[fr]=Minuterie simple
Exec=timer.sh
Category=Utilities
